services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ratelimiter
      POSTGRES_USER: rl_user
      POSTGRES_PASSWORD: rl_pass
    ports:
      - "5432:5432"
